<ul class="nav justify-content-center">
    <li class="nav-item">
    <a class="nav-link" routerLink=''>Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" routerLink='/blog'>Blog</a>
</li>
<li class="nav-item">
    <a class="nav-link" routerLink='/contact' >Kontakt</a>
</li>
  <li class="nav-item">
  <a class="nav-link" routerLink="/login" *ngIf="!authService.currentUser">Zaloguj</a>
  </li>
  <li class="nav-item">
  <a class="nav-link" routerLink="/signup" *ngIf="!authService.currentUser">Zarejestruj</a>
  </li>
  <button class="nav-link" (click)="logOut()" *ngIf="authService.currentUser">Wyloguj</button>
</ul>
